<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div>
        <div>
            <a href="/logout">logout</a>
        </div>
        <h3> hello <%=user.name %></h3>
        <h4>you can create a a new post</h4>
        <form action="">
            <textarea name="" id="" placeholder="whats on your mind"></textarea>
            <input type="submit" placeholder="create post">
        </form>
    </div>



    
</body>
</html>